.block{
  background-color:black;
  opacity:.9;
  color:white;
  padding:50px;
  width:75%;
  margin-right:auto;
  margin-left:auto;
  border-radius:15px;
  font-size:1.5cm;
  padding-bottom:2%;
}
.spacer{
  padding:4%;
}
body{
  background:url("https://images.unsplash.com/photo-1474354503580-955e733d2a7d?auto=format&fit=crop&w=934&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  no-repeat center center fixed;
  webki-background-size:cover;
  -moz-background-size:cover;
  -a-background-size:cover;
  background-size:cover;
}